{
  "presets": [
    [
      "babel-preset-react-app",
      { "helpers": true }
    ],
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ],
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      { "legacy": true }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      { "loose": true }
    ],
    "inline-react-svg",
    "transform-modules"
    // "react-hot-loader/babel"
  ],
  "sourceMaps": false,

  "env": {
    "development": {
      "compact": false
    },
    "production": {
      "compact": true
    }
  }
}
