$black: black;
$white: white;
$magenta: magenta;
$orangered: orangered;
$yellowgreen: yellowgreen;
$tomato: tomato;

$pink400: #f50057;
$blue400: #2979ff;

$c000: #000;
$c111: #111;
$c222: #222;
$c333: #333;
$c444: #444;
$c555: #555;
$c666: #666;
$c777: #777;
$c888: #888;
$c999: #999;
$aaa: #aaa;
$bbb: #bbb;
$ccc: #ccc;
$ddd: #ddd;
$eee: #eee;
$fff: #fff;

.black { color: $black; }
.white { color: $white; }
.orangered { color: $orangered; }
.yellowgreen { color: $yellowgreen; }
.tomato { color: $tomato; }
.magenta { color: $magenta; }

.pink400 { color: $pink400; }
.blue400 { color: $blue400; }

.c000 { color: $c000; }
.c111 { color: $c111; }
.c222 { color: $c222; }
.c333 { color: $c333; }
.c444 { color: $c444; }
.c555 { color: $c555; }
.c666 { color: $c666; }
.c777 { color: $c777; }
.c888 { color: $c888; }
.c999 { color: $c999; }
.aaa { color: $aaa; }
.bbb { color: $bbb; }
.ccc { color: $ccc; }
.ddd { color: $ddd; }
.eee { color: $eee; }
.fff { color: $fff; }
