@import './color.scss';

.demo-label {
  display: inline-flex;
  width: 110px;
  font-size: 16px;
}
.demo-span {
  font-size: 16px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6e6e6;
}
