.size12 { font-size: 12px; }
.size13 { font-size: 13px; }
.size14 { font-size: 14px; }
.size15 { font-size: 15px; }
.size16 { font-size: 16px; }
.size17 { font-size: 17px; }
.size18 { font-size: 18px; }
.size19 { font-size: 19px; }
.size20 { font-size: 20px; }
.size21 { font-size: 21px; }
.size22 { font-size: 22px; }
.size23 { font-size: 23px; }
.size24 { font-size: 24px; }
.size25 { font-size: 25px; }
.size26 { font-size: 26px; }
